aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
dnspython
emojis
ffmpeg-python
gitpython
git+https://github.com/AsmSafone/SafoneAPI
hachoir
heroku3
lyricsgenius
motor
numpy
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
pytz
requests
search_engine_parser
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
